# Created by venv; see https://docs.python.org/3/library/venv.html

# virtual environments
.venv/
pyvenv.cfg

# Python cache & type info
**/__pycache__/
.pytest_cache/
.pytype/

# build artifacts
docs/_build
*.egg-info/
dist/
build/
*.egg
*.whl

# publication info (temporary)
paper/