* text=auto
*_time.bin filter=lfs diff=lfs merge=lfs -text
*_values.bin filter=lfs diff=lfs merge=lfs -text
test_file.parquet filter=lfs diff=lfs merge=lfs -text
example_data/**/*_meta.json filter=lfs diff=lfs merge=lfs -text

# Normalize line endings
*.py text eol=lf
*.ipynb text eol=lf
*.ipynb filter=nb-clean
*.ipynb filter=nbstripout
