on:
  push:
    branches: [ main, paper ]
  pull_request:
    branches: [ '**' ]
  workflow_call:
    outputs:
      version:
        description: "The version retrieved from the pyproject.toml file."
        value: ${{ jobs.quality.outputs.version }}

jobs:
  quality:
    name: Quality checks (lint, build, docs)
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      version: ${{ steps.get_version.outputs.version }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install toml
        run: pip install toml

      - name: Get version from pyproject.toml
        id: get_version
        run: |
          VERSION=$(python -c "import toml; print(toml.load('pyproject.toml')['tool']['poetry']['version'])")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry install

      - name: Run pre-commit hooks
        run: poetry run pre-commit run --all-files --show-diff-on-failure

      - name: Build package
        run: poetry build

      - name: Build documentation
        run: poetry run make html --directory docs

      - name: Archive build artifacts
        if: github.ref == 'refs/heads/release'
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

      - name: Archive documentation
        if: github.ref == 'refs/heads/release'
        uses: actions/upload-artifact@v4
        with:
          name: docs-html
          path: docs/build/html/


  test:
    name: Tests (${{ matrix.os }}, Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.11', '3.12']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry install

      - name: Run pytest
        run: poetry run pytest --maxfail=1 --disable-warnings -q
